@tailwind base;
@tailwind components;
@tailwind utilities;

/* fix background change on dark theme */
@media (prefers-color-scheme: dark) {
  body {
      background-color: #EAEAED; 
  }
}

/* constume scrollbar */

body::-webkit-scrollbar {
  width: 8px;
cursor: pointer;
}

body::-webkit-scrollbar-track {
  background: #a6a5a9ab ;
cursor: pointer;
}

body::-webkit-scrollbar-thumb {
background-color: #514e4c;
border-radius: 10px;
cursor: pointer;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
}

div::-webkit-scrollbar {
  width: 7px;
  height: 3px;
  cursor: pointer;

}

div.scrollbar-hovered ::-webkit-scrollbar {
  width: 12px; 
}

div::-webkit-scrollbar-thumb:hover {
  width: 16px; /* Increase the size of the scrollbar */
  background-color: #555; /* Change color on hover */
}

div::-webkit-scrollbar-track {
  background: #d0c6c6 ;
  cursor: pointer;
}

div::-webkit-scrollbar-thumb {
  background-color: #5a5f669c;
  border-radius: 17px;
  border: 2px solid #efefef00;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  cursor: pointer;
}
.form-select {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==');
  background-size: 0.7rem;
  background-position: right 0.7rem center;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-color: #f3f4f6;
  --text-700: #374151;
  --text-400: #94a3b8;
  --text-100: #f3f4f6;
  --text-300: #cbd5e1;
  --white: #fff;
  --primary-700: #4338ca;
  --primary-600: #4f46e5;
  --primary-100: #e0e7ff;
  --rose-500: #f43f5e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  min-height: 100vh;
}

#root{
  padding: 0%;
}

input {
  display: block;
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
p {
  text-align: left;
}

h1 {
  margin-bottom: 1.5rem;
  color: var(--text-700);
}

h2 {
  margin-bottom: 1.5rem;
  color: var(--text-700);
}

input[type="checkbox"] {
  transform: scale(1.5);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

select {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid var(--text-400);
  border-radius: 0.75rem;
  font-weight: 700;
  color: var(--text-700);
}

.text-field {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-700);
  font-size: 1rem;
}
.btn {
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}

.btn--primary {
  background-color: var(--primary-600);
  color: white;
  font-size: 1rem;
}
